<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/site2.css' %}" type="text/css"/>
    <script src="{% static 'js/ajaxCall.js' %}"></script>
    <script src="{% static 'js/tableSave.js' %}"></script>     
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/software-download.css' rel='stylesheet'>
</head>

<body>
    {% if user.is_authenticated %}
    {% include "polls/navbar.html" %}
    {% include "polls/messages.html" %}
    {% include "polls/index.html" %}
    {% comment %} {% include "polls/feedbackform.html" %} {% endcomment %}
    {% else %}
    <script>
        document.location.replace('/login')
    </script>
    {% endif %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>