	<div class="container">
		<select name="potencial" class="custom-select sources select1" placeholder="0020CF3B" id="select_station" >
			<option value="0020CF3B" selected>0020CF3B</option>
			<option value="002099C5">002099C5</option>
			<option value="00000235">00000235</option>
		</select>
		<select name="potencial" class="custom-select select2 sources" placeholder="По часам" id="select_mode">
			<option value="hourly" selected>По часам</option>
			<option value="daily">По дням</option>
			<option value="weekly">По неделям</option>
		</select>
			<input id="first_date" type="date" name="calendar" value="2021-08-12" max="2021-08-13">
			<input id="second_date" type="date" name="calendar" value="2021-08-13" min="2021-08-12">
			<input id="button_date" type="submit" value="Применить" class="ind_btn">
	</div>
	<div class="tabs">
		<ul class="tab-links">
			<li class="active" onmousedown="return false"><a href="#tab1">Графики</a></li>
			<li onmousedown="return false"><a href="#tab2">Таблицы</a></li>
		</ul>
		<div class="tab-content">
			<div id="tab1" class="tab active">
				<p id = "messageNoInfo1"></p>
				<div class="graphic">
					<!-- <canvas id="myChart" class="chart1" height= "70px"></canvas>
					<canvas id="myChart2" class="chart2" height= "70px"></canvas> -->
					{% include "polls/graphs/chart.html" %}
				</div>
			</div>
			<div id="tab2" class="tab"> 
				<p id = "messageNoInfo2"></p>
				<table class="table table_sort" id="myTable">
					<tbody>
						<thead>
						<tr>
							<th onclick="sortTable(0)">Дата </th>
							<th onclick="sortTable(1)">Средняя температура воздуха, °C</th>
							<th onclick="sortTable(2)">Относительная влажность воздуха, %</th>
							<th onclick="sortTable(3)">Средняя температура почвы, °C</th>
							<th onclick="sortTable(4)">Влажность почвы, %</th>
						</tr>
						</thead>
						{% for a in data %}
							<tr>
								<td>{{a.date}}</td>
								<td>{{a.air_temp_avg}}</td>
								<td>{{a.relative_humidity_avg}}</td>
								<td>{{a.soil_temp_avg}}</td>
								<td>{{a.soil_moisture}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="display">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type = "text/javascript">
			// var ctx = document.getElementById('myChart').getContext('2d');
			// var myChart;
			// myChart = new Chart(ctx, {
			// 	type: 'line',
			// 	data: {														
			// 		labels: [
			// 			{% for a in data %}
			// 			'{{a.date}}',{% endfor %}
			// 		],
			// 		datasets: [
			// 			{
			// 				label: 'Средняя температура воздуха, °C',
			// 				data: [
			// 					{% for a in data %}
			// 					{{a.air_temp_avg}},{% endfor %}
			// 				],
			// 				backgroundColor: ['rgba(255, 255,255, 0.2)'],
			// 				borderColor: ['rgba(200, 0, 15, 1)'],
			// 				borderWidth: 2
			// 			},						
			// 			{
			// 				label: 'Средняя температура почвы, °C',
			// 				data: [
			// 					{% for a in data %}
			// 					{{a.soil_temp_avg}},{% endfor %}
			// 				],
			// 				backgroundColor: ['rgba(255, 255, 255, 0.2)'],
			// 				borderColor: ['rgba(9, 132, 0, 1)'],
							
			// 				borderWidth: 2
			// 			},	
			// 		]
			// 			},
			// 	options: {
			// 		scales: {
			// 			y: {
			// 				beginAtZero: true
			// 			}
			// 		}
			// 	}				
			// });		
			// var myChart2;		
			// var ctx2 = document.getElementById('myChart2').getContext('2d');
			// myChart2 = new Chart(ctx2, {
			// 	type: 'line',
			// 	data: {														
			// 		labels: [
			// 			{% for a in data %}
			// 			'{{a.date}}',{% endfor %}
			// 		],
			// 		datasets: [
			// 			{
			// 				label: 'Относительная влажность воздуха, %',
			// 				data: [
			// 					{% for a in data %}
			// 					{{a.relative_humidity_avg}},{% endfor %}
			// 				],
			// 				backgroundColor: ['rgba(255, 255, 255, 0.2)'],
			// 				borderColor: ['rgba(200, 0, 15, 1)'],
			// 				borderWidth: 2
			// 			},						
			// 			{
			// 				label: 'Средняя влажность почвы, %',
			// 				data: [
			// 					{% for a in data %}
			// 					{{a.soil_moisture}},{% endfor %}
			// 				],
			// 				backgroundColor: ['rgba(255, 255, 255, 0.2)'],
			// 				borderColor: ['rgba(9, 132, 0, 1)'],
			// 				borderWidth: 2
			// 			},		
			// 		]
			// 			},
			// 	options: {
			// 		scales: {
			// 			y: {
			// 				beginAtZero: true
			// 			}
			// 		}
			// 	}				
			// });

	// Выпадающий список 
				 $(".custom-select").each(function() {
			var classes = $(this).attr("class"),
				id = $(this).attr("id"),
				name = $(this).attr("name");
			var template = '<div class="' + classes + '">';
			template +=
				'<span class="custom-select-trigger">' +
				$(this).attr("placeholder") +
				"</span>";
			template += '<div class="custom-options">';
			$(this)
				.find("option")
				.each(function() {
				template +=
					'<span class="custom-option ' +
					$(this).attr("class") +
					'" data-value="' +
					$(this).attr("value") +
					'">' +
					$(this).html() +
					"</span>";
				});
			template += "</div></div>";

			$(this).wrap('<div class="custom-select-wrapper"></div>');
			$(this).hide();
			$(this).after(template);
			});
			$(".custom-option:first-of-type").hover(
			function() {
				$(this)
				.parents(".custom-options")
				.addClass("option-hover");
			},
			function() {
				$(this)
				.parents(".custom-options")
				.removeClass("option-hover");
			}
			);
			$(".custom-select-trigger").on("click", function() {
			$("html").one("click", function() {
				$(".custom-select").removeClass("opened");
			});
			$(this)
				.parents(".custom-select")
				.toggleClass("opened");
			event.stopPropagation();
			});
			$(".custom-option").on("click", function() {
			$(this)
				.parents(".custom-select-wrapper")
				.find("select")
				.val($(this).data("value"));
			$(this)
				.parents(".custom-options")
				.find(".custom-option")
				.removeClass("selection");
			$(this).addClass("selection");
			$(this)
				.parents(".custom-select")
				.removeClass("opened");
			$(this)
				.parents(".custom-select")
				.find(".custom-select-trigger")
				.text($(this).text());
			});

		//Табы
				jQuery(document).ready(function() {
				jQuery('.tabs .tab-links a').on('click', function(e) {
				var currentAttrValue = jQuery(this).attr('href');

		// Show/Hide Tabs
				jQuery('.tabs ' + currentAttrValue).fadeIn(400).siblings().hide();

				// Change/remove current tab to active
				jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

				e.preventDefault();
				});
			});

		//Сортировка таблицы v2
		
		</script> 
	  </div>
  </body>
</html>