{% extends "polls/header.html" %}
		<script type = "text/javascript"
			 src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
		  <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
		  </script>
		  <!-- Compiled and minified JavaScript -->
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<div class= "header">
			<a>Самое лучшее оформление</a>
			{% include "polls/navbar.html" %}
    		{% include "polls/messages.html" %}
    		<div class="container">
        		{% block content %}
       			{% endblock %}
    		</div>
		</div>
		<div class="tabs">
		  <div class="tab-2">
			<label for="tab2-1">Графики</label>
			<input id="tab2-1" name="tabs-two" type="radio" checked="checked">
			<div>
				  <div class= "content">
						<div class="grafic">
							<div class="container">
								<canvas id="myChart"></canvas>
							</div>
						</div>
				</div>
			</div>
		  </div>
		  <div class="tab-2">
			<label for="tab2-2">Таблица ИИ</label>
			<input id="tab2-2" name="tabs-two" type="radio">
			<div>
			  <a>КОНТЕНТ ТАБЛИЦ</a>
			  <table class="iksweb">
				<tbody>
					<tr>
						<td>Дата</td>
						<td>Средняя температура воздуха, °C</td>
						<td>Относительная влажность воздуха, %</td>
						<td>Средняя температура почвы, °C</td>
						<td>Влажность почвы, %</td>
					</tr>
					{% for a in data %}
					<tr>
						<td>{{a.date}}</td>
						<td>{{a.air_temp_avg}}</td>
						<td>{{a.relative_humidity_avg}}</td>
						<td>{{a.soil_temp_avg}}</td>
						<td>{{a.soil_moisture}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
		  </div>
		</div>		
		<div class="display">
				<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
				<script type = "text/javascript">
					const ctx = document.getElementById('myChart').getContext('2d');
					const myChart = new Chart(ctx, {
						type: 'line',
						data: {														
							labels: [
								{% for a in data %}
								'{{a.date}}',{% endfor %}
							],
							datasets: [
								{
									label: 'Средняя температура воздуха, °C',
									data: [
										{% for a in data %}
										{{a.air_temp_avg}},{% endfor %}
									],
									backgroundColor: ['rgba(255, 255,255, 0.2)'],
									borderColor: ['rgba(150, 25, 15, 1)'],
									borderWidth: 1
								},
								{
									label: 'Относительная влажность воздуха, %',
									data: [
										{% for a in data %}
										{{a.relative_humidity_avg}},{% endfor %}
									],
									backgroundColor: ['rgba(255, 255, 255, 0.2)'],
									borderColor: ['rgba(25, 150, 15, 1)'],
									borderWidth: 1
								},						
								{
									label: 'Средняя температура почвы, °C',
									data: [
										{% for a in data %}
										{{a.soil_temp_avg}},{% endfor %}
									],
									backgroundColor: ['rgba(255, 255, 255, 0.2)'],
									borderColor: ['rgba(25, 150, 15, 1)'],
									borderWidth: 1
								},
								{
									label: 'Средняя влажность почвы, %',
									data: [
										{% for a in data %}
										{{a.soil_moisture}},{% endfor %}
									],
									backgroundColor: ['rgba(255, 255, 255, 0.2)'],
									borderColor: ['rgba(25, 150, 15, 1)'],
									borderWidth: 1
								},		
							]
								},
						options: {
							scales: {
								y: {
									beginAtZero: true
								}
							}
						}				
					});					
				</script>
		</div>
	