    <nav class = "top_nav"> 
        <div class="nav_container">
            <div class="header_name">Monitoring AI Test Project</div>
            <ul class="nav_list">
                {% comment %} {% if user.is_authenticated %}
                <a  onmousedown="return false" style="cursor: pointer;"><li>{{user.username|title}}</li></a>
                <a href="/logout"  onmousedown="return false"><li>Выйти</li></a>
                <!-- <li><a href="/">Главная страница</a></li> -->
                {% endif %} {% endcomment %}
            </ul>
        </div>
    </nav>