<head>
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/station_admin.css' %}" type="text/css"/>
    <script src="{% static 'js/station_admin.js' %}"></script>     
</head>
<body>
{% if user.is_superuser %}
{% include "polls/navbar.html" %}
<div class = "window_blackout" onclick="close_modal()"></div>
<div class = "modal_window">
    <a class = "close_modal" onclick="close_modal()">X</a>
    <div id="station_text"></div>
</div>
<div class = "first">
    <div class = "username">
        <h3>Пользователь</h3>  
        <select name="users" id="user_select" onchange="get_user_stations()">
        </select>
    </div>
    <div class = "stations">
        <h3>Станция</h3>
        <select name="stations" id="station_add">
        </select>
    </div>
    <button class = "ind_btn add_btn" onclick="add_station()">Добавить</button> 
</div>
<hr class = "line">
<p class = "p_text">Станции пользователя</p>
<div class = "second">
    <div class = "column">
    <!-- <h3>station_name</h3>
    <input type="checkbox" value="check">
    <label><input type="checkbox" value="download">download</label> -->
    </div>
</div>
{% csrf_token %}
<button class = "upload ind_btn" onclick="upload()">Сохранить</button>
    {% else %}
    <script>
        document.location.replace('/404')
    </script>
    {% endif %}
</body>