body {
	background-color: #D6D6D6;
  overflow-x: hidden;
  margin: 0;
}
.grafic {
	background-color: #FFFFFF;
	width:100%;
}
.chart1 {
	background-color: #fff;
}
.chart2 {
	margin-top: 20px;
	background-color: #fff;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

/*----- Tabs -----*/
.tabs {
	width:100%;
	display:inline-block;
}
/*----- Tab Links -----*/
/* Clearfix */
	.tab-links:after {
	display:block;
	clear:both;
	content:'';
}
.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none; 
  
}
.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:5px 5px 5px 5px;
	background:#88c1e7;
	font-size:16px;
	font-weight:600;
	color:#363636;
	transition:all linear 0.15s;
  text-decoration: none;
  user-select: none;
  
}
.tab-links a:hover {
	background:#acd3ec;
	text-decoration:none;
}
li.active a, li.active a:hover {
	background:#fff;
	color:#363636;
}
/*----- Content of Tabs -----*/
.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);

}
.tab {
	display:none;
}

.tab.active {
	display:block;
}
.tab-links {
  
}
    
.table{
	  width: 100%;
	  border-collapse:collapse;
	  border-spacing:0;
	  height: auto;
	background-color: #fff;
}
.table, .table td, .table th {
	  border: 2px solid #000000;
}
.table td{
	  padding: 3px;
	  width: 30px;
	  height: 3px;
	}
.table th {
	  font-weight: normal;
	padding: 3px;
	  width: 30px;
	  height: 30px;
}
.table th:hover {
    cursor: pointer;
}
.table th:active {
  background-color:rgb(211, 211, 211) ;
}
.table td:hover {
  /*background-color: rgb(201, 201, 201);*/ 
}

/*Кнопки хедера*/
.top_nav{
  background-color: #7FB5DA;
  display: block;
  width: 100%;
  height: fit-content;
}
.nav_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav_list{
  margin: 0;
  display:inline-flex;
}
.nav_list li
{
  transition: all 0.5s;
  font-family: Century Gothic;
  color: black;
  display: inline-block;
  list-style: none;
  text-align: right;
  padding: 15px 20px;
}
.nav_list li:hover{
  background-color: rgb(40, 67, 77);
}
.nav_list a
{
  text-decoration: none;
}

/*Выпадающий список */
.select {
  position: relative;
  display: block;
  min-width: 80px;
  width: 100%;
  max-width: 150px;
  margin: 15px 20px;
}
.select__head {
  width: 100%;
  max-width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 14px 15px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  background-color: #fff;
}
.select__head::after {
  width: 10px;
  height: 6px;
  background: #FFF url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.50495 5.78413L0.205241 1.25827C-0.0684138 0.970375 -0.0684138 0.503596 0.205241 0.215836C0.478652 -0.0719461 0.922098 -0.071946 1.19549 0.215837L5.00007 4.22052L8.80452 0.215953C9.07805 -0.0718292 9.52145 -0.0718292 9.79486 0.215953C10.0684 0.503736 10.0684 0.970492 9.79486 1.25839L5.49508 5.78425C5.35831 5.92814 5.17925 6 5.00009 6C4.82085 6 4.64165 5.928 4.50495 5.78413Z' fill='%23ED266A'/%3E%3C/svg%3E%0A") no-repeat center / cover;
  position: absolute;
  right: -15px;
  bottom: 50%;
  transform: translateY(50%);
  content: '';
  display: block;
  transition: .2s ease-in;
}
.select__head.open::after {
  transform: translateY(50%) rotate(180deg);
}
.select__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;
}
.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #F8F9FA;
  padding: 5px;
}
.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D9D9D9;
}
.select__list .select__item {
  position: relative;
  border-top: 1px solid rgba(224, 229, 231, 0.5);
  padding: 10px 15px;
  cursor: pointer;
  list-style-type: none;
}
.select__list .select__item:hover {
  background-color: rgba(224, 229, 231, 0.5);
}

/*Стили окна авторизации*/
.log_btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fe6637;
  transition: .2s ease-in-out;
}
.log_btn:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.log_btn:hover {
  background: #fe6637;
  color: #fff;
}
.log_btn:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}