body {
	background-color: #f8f8f8;
  overflow-x: hidden;
  margin:0;
}
.header {
	/*background-color: #FFFFFF;*/
	height: 90px;
	text-align: center;
	margin: -10px -10px 0 -10px;
}
.header a {

	font-size: 30px;
	font-style: italic;
}
.content {
	display: inline-flex;
	width: 100%;
}
/*.buttons {
	padding-top: 30px;
	padding-left: 100px;
	margin-bottom: 30px;
}*/
.page1 {
	font-size: 18px;
	padding-right: 15px;
	border: solid;
}
/*.buttons a:hover {
	cursor: pointer;
	background-color: aquamarine;
}*/
.page2 {
	font-size: 18px;
	border: solid;
	margin-left: -6px;
}

.grafic {
	background-color: #FFFFFF;
	width:100%;
  height:200px;
}

.content ul {
	 list-style: none;
}


button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

.tabs{
  display: inline-block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: black;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 300;
    line-height: 1em;
    padding: 30px 0 10px 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .tabs .tab-2 {
    width: 50%; 
    }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; 
    }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; 
    }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%;
    }
    .tabs .tab-2:last-child [type="radio"]:checked + div{
      margin-left: -100%;
    }

table.iksweb{
  width: 100%;
  border-collapse:collapse;
  border-spacing:0;
  height: auto;
}
table.iksweb,table.iksweb td, table.iksweb th {
  border: 3px solid #000000;
}
.table td{
	  padding: 3px;
	  width: 30px;
	  height: 5px;
	}
.table th {


	  font-weight: normal;
	padding: 3px;
	  width: 30px;
	  height: 30px;
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  xx: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
  z-index: 1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

.dropdown-dark {
  background: #444;
  border-color: #111111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-dark:before {
  border-bottom-color: #aaa;
}

.dropdown-dark:after {
  border-top-color: #aaa;
}

.dropdown-dark .dropdown-select {
  color: #aaa;
  text-shadow: 0 1px black;
  background: #444;  /* Fallback for IE 8 */
}

.dropdown-dark .dropdown-select:focus {
  color: #ccc;
}

.dropdown-dark .dropdown-select > option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

.top_nav{
  background-color: rgb(84, 179, 211);
  display: block;
  width: 100%;
  height: fit-content;
  margin-bottom:10px;
}

.nav_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav_list{
  margin: 0;
  display:inline-flex;
}

.nav_list li
{
  transition: all 0.5s;
  font-family: Century Gothic;
  color: black;
  display: inline-block;
  list-style: none;
  text-align: right;
  padding: 15px 20px;
}

.nav_list li:hover{
  background-color: rgb(126, 215, 245);
}

.nav_list a
{
  text-decoration: none;
}