.first
{
    display:flex;
    flex-direction: row;
}
.column
{
    display:flex;
    flex-direction: column;
}
.username
{
    margin-right: 30px;
    margin-bottom: 30px;
}
.up
{
    display:flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.up h3
{
    margin-right: 30px;
}