body
{
  margin:0;
  background-color: #EEEEEE;
  overflow-x: hidden;
}
.header_name
{
  font-family: Century Gothic;
}
select
{
  font-family: Century Gothic;
  font-weight:300;
  font-size:16px;
}
h3
{
    font-family: Century Gothic;
    font-weight: 400;
}
.line
{
  margin-top:30px;
  border-color: rgb(254, 254, 254);
  opacity: 0.4;
}
.stations
{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.add_btn
{
  margin-top:30px !important;
  margin-left:30px !important;
}
.first
{
    margin-left: 8px;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.p_text
{
  margin-left: 8px;
  margin-bottom: 8px;
  font-family: Century Gothic;
  font-size: 20px;
}
.second
{
  margin-left: 8px;
}
.upload
{
  margin-left: 8px;
}
.column
{
    display:flex;
    flex-direction: column;
}
.username
{
    margin-right: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.up
{
    display:flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.up h3
{
    margin-right: 30px;
}

/*Кнопки хедера*/
.top_nav{
    background-color: #1caeae;
    /* background-color: #7FB5DA; */
    display: block;
    width: 100%;
    height: fit-content;
  
  }
  .nav_container{
    display: flex;
    flex-direction: row;
    width: auto;
  }
  .nav_list{
    margin: 0;
    display:inline-flex;
  }
  .nav_list li
  {
    transition: all 0.5s;
    font-family: Century Gothic;
    color: black;
    display: inline-block;
    list-style: none;
    text-align: right;
    padding: 20px 20px;
  }
  .nav_list li:hover{
    background-color: #3edede;
  }
  .nav_list a
  {
    text-decoration: none;
  }
  .header_name {
    width: 100%;
    font-size: 20px; 
    padding: 15px 20px;
    cursor: default;
  }
  .header_name div {
    vertical-align: middle;
    
  }

  .ind_btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 15px;
    position: relative;
    overflow: hidden;
    border: 2px solid #16A9A9;
    border-radius: 8px;
    font-family: Century Gothic;
    color: rgb(20, 112, 112);
    transition: .2s ease-in-out;
  }
  .ind_btn:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }
  .ind_btn:hover {
    background: #16A9A9;
    color: #fff;
    cursor: pointer;
  }
  .ind_btn:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
  }